@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: white;
    margin: 0px;
    padding: 0px;
}
/* header  */
.header, .main, .footer{
    background-color: #333333;
}
.menuList{
    text-decoration: none;
    color: white;
}
.menuList:hover{
    color: #ddfa77;
}
.menuListSignUp{
    text-decoration: none;
    color: #ddfa77;
}
.menuListSignUp:hover{
    color: white;
}
/* main  */
/* banner  */
.box{
    background-color: #474747;
    border-radius: 10px;
}
.inBox{
    color: #ddfa77;
}
/* backstyle  */
.backstyle{
    position: relative;
    overflow: visible;
    z-index: 0;
}
.lefttoForm{
    position: absolute;
    top: -3px;
    left: -5px;
    z-index: -1;
}
.righttoForm{
    position: absolute;
    bottom: -5px;
    right: -3px;
    z-index: -1;
}
/* form  */
.form{
    background-color: #474747;
    border-radius: 20px;
    z-index: 2;
}
.formTitle{
    color: #ddfa77;
}
input{
    background-color:#333333;
    border: none;
    border-radius: 10px;
}
.formFooter{
    color: #ddfa77;
    text-decoration: none;
}
.formFooter:hover{
    color: #ddfa77;
}
/* divider  */
.hr{
    border: 1px solid #474747;
    background-color: #474747;
}
/* footer  */
.footList{
    list-style: none;
    padding: 4px 0px;
}
.footerTopList{
    cursor: auto;
    text-decoration: none;
    color: #a5a5a5;
    font-size: medium;
    font-weight: normal;
}
.footerTopList:hover{
    cursor: auto;
    color: #a5a5a5;
}
.footerList{
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: normal;
}
.footerList:hover{
    color: #ddfa77;
}