@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: white;
    margin: 0px;
    padding: 0px;
}
/* header  */
.header, .main, .footer{
    background-color: #333333;
}
.menuList{
    text-decoration: none;
    color: white;
}
.menuList:hover{
    color: #ddfa77;
}
.menuListSignUp{
    text-decoration: none;
    color: #ddfa77;
}
.menuListSignUp:hover{
    color: white;
}
/* main  */
.box{
    background-color: #474747;
    border-radius: 10px;
}
.inBox{
    color: #ddfa77;
}